.App{
  background-color: grey;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell{
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row{
  display: flex;
  gap: 20px;
  padding: 10px 0px;
}