.App{
  background-color: #ade8f4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.line-up{
  display: flex;
  flex-direction: row;
}

.board {
  position: relative;
}

.cell{
  height: 50px;
  width: 50px;
  background-color: #03045e;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease-in-out;
}

.cell:hover {
  transform: scale(1.2, 1.2);
}

.row{
  display: flex;
  gap: 20px;
  padding: 10px 0px;
}
.title{
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
}
.buttons{
  display: flex;
  margin-top: 10px;
  flex-direction: row;
}
.restartButton{
  margin-right: 50px;
  height: 35px;
  width: 100px;
  background-color: #0077b6;
  color: white;
  border-radius: 25px;
  border: 0;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}
.replayButton{
  height: 35px;
  width: 100px;
  background-color: #0077b6;
  color: white;
  border-radius: 25px;
  border: 0;  
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;

}
.bombcounter{
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 25px;
  color: #03045e;
  margin-right: 130px;
}
.seconds{
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 25px;
  color: #03045e;
}